includes:
  - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
    excludePaths:
        - src/config/user-login.php
